* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register {
    background-color: #000;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0dba4b;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    position: relative;
    margin-bottom: 15px;
}

i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #333;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .register {
        margin: 20px;
    }
}